<!DOCTYPE html>
<html>
<head>
  <title>Add | Online Calculator</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
  <section class="main">
    <h1>Add</h1>
    <form method="POST" action="/calculate_add">
      <input type="number" placeholder="1st number" class="txt">
      <input type="number" placeholder="2nd number" class="txt">
      <button type="submit" class="button">Calculate</button>
    </form>
  </section>
</body>
</html>