body {
  font-family: 'Open Sans', Arial;
  font-size: 10px;
  margin: 0;
  padding: 0;
}

h1 {
  color: #17212e;
  font-size: 1.8rem;
  margin: 0 0 10px 0;
}

.main {
  margin: 50px auto;
  width: 50%;
}

.button {
  background: #00d1ae;
  border: 1px solid #00d1ae;
  color: #fff;
  cursor: pointer;
  padding: 5px 15px;
}

.button:hover {
  box-shadow: 1px 1px 10px 0 #999;
  transition: .2s linear all;
}

.txt {
  padding: 4px;
}